* {
  box-sizing: border-box;
  background-color: #16161D;
}

a {
  cursor:pointer;
}

 /* unvisited link */
a:link {
  color: #7FB4CA;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: #957FB8;
  text-decoration: none;
}

/* mouse over link */
a:hover {
  color: #7FB4CA;
  text-decoration: underline;
}

/* selected link */
a:active {
  color: #957FB8;
  text-decoration: underline;
}

ul {
  list-style-type: none;
  padding: 5px;
}

p, td, ul {
 color: #DCD7BA; 
}

h1, h2, h3, h4, summary {
  color: #98BB6C;
}

strong, td:nth-child(1) {
  color: #7FB4CA;
  text-align: center;
}

td {
  padding: 5px;
}

.name {
  text-align: center;
}

/* Create two equal columns that floats next to each other */
.content {
  float: left;
  width: 70%;
}

.description {
  padding-bottom: 15px;
}
.sidebar {
  float: left;
  width: 30%;
  text-align: center;
}

.item img {
  max-width: 80%;
  height: auto;
  margin: 15px 15px 0 15px;
  border-radius: 5%;
}

.grid {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

/* Clear floats after the columns */
.grid::after {
  display: inline-block;
  clear: both;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
}

.image {
  max-width: 30%;
  min-width:250px;
  padding: 5px;
  text-align: center;
}

.image.spoiler img {
  filter: brightness(0%);
  width: 100%;
  height: auto;
  transition: filter 0.25s;
}

.image.spoiler img:focus {
  filter: brightness(100%);
  transition: filter 0.25s;
}

.image img {
  border-radius: 10px;
  width: 100%;
  height: auto;
}

.image-description {
  margin-top: 10px;
  font-size: 14px;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 650px) {
  .name {
    width: 100%;
    order: 0;
  }
  .content {
    width: 100%;
    order: 2;
  }
  .sidebar {
    width: 100%;
    order: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .item {
    padding: 0 1.5% 0 1.5%;
    h3 {
      margin: 5px 0 5px 0;
    }
    p {
      margin: 5px 0 5px 0;
    }
  }
  .grid {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
}
