<html>
<head>
	<title>{{ name }}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/assets/bundle.css">
<style>
{% if font %}
	.grid {font-family: {{ font }};}
{% else %}
	.grid {font-family: 'Hacknerdfont';}
{% endif %}

{% if textColor %}
	p, td {color: {{ textColor }};}
{% endif %}

{% if headingColor %}
	h1, h2, h3, h4, summary {color: {{ headingColor }};}
{% endif %}

{% if strongColor %}
	strong, td:nth-child(1) {color: {{ strongColor }};}
{% endif %}

{% if backgroundColor %}
	* {background-color: {{ backgroundColor }};}
{% endif %}

h1 {margin-bottom: 0px;}
</style>
</head>
<body>
<center>
	{{ content | safe }}
</center>
</body>
</html>
