{% extends "two_factor/_base_focus.html" %}
{% load i18n %}

{% block content %}
  <h1>{% block title %}{% trans "Permission Denied" %}{% endblock %}</h1>

  <p>{% blocktrans trimmed %}The page you requested, enforces users to verify using
    two-factor authentication for security reasons. You need to enable these
    security features in order to access this page.{% endblocktrans %}</p>

  <p>{% blocktrans trimmed %}Two-factor authentication is not enabled for your
    account. Two-Factor Authentication (2FA) is a security feature that mitigates the risk of your account being compromised. Requiring a second form of authentication via a code or security key means that even if your password is compromised, attackers may not be able to access your account. Even though this site poses low risk as it contains little identifying information, other art sites have exploited, like <a href='https://artfight.net/news/99.important-security-announcement'>Art Fight in 2025.</a>{% endblocktrans %}</p>
  <p>
    <a href="javascript:history.go(-1)"
       class="float-right btn btn-link">{% trans "Go back" %}</a>
    <a href="{% url 'two_factor:setup' %}" class="btn btn-primary">
    {% trans "Enable Two-Factor Authentication" %}</a>
  </p>
{% endblock %}
